---
import "../styles/global.css";
---
<html lang="en">
  <head><meta charset="utf-8" /><title>OVMI.DIGITAL</title></head>
  <body>
    <h1 class="text-6xl font-black p-20">We make things exist.</h1>
    <p class="font-normal p-20">Testing Satoshi font loading.</p>
  </body>
</html>
